$swiper-theme-color: #007AFF;
$swiper-preloader-color: #007AFF;
$swiper-navigation-color: white;
$swiper-pagination-color: white;
$swiper-navigation-size: 44px;

@mixin fonts($ff, $fs, $lh) {
    font-family: $ff, sans-serif;
    font-size: $fs;
    line-height: $lh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
}


@mixin dimensions($w, $h){
    width: $w;
    height: $h;
}

@mixin position($p){
    position: $p;
}

@mixin border-radius($b){
    border-radius: $b;
    -webkit-border-radius: $b;
    -moz-border-radius: $b;
    -ms-border-radius: $b;
    -o-border-radius: $b;
}

@mixin bg-color($c) {
    background-color: $c ;
}

@mixin animate($name, $duration, $iteration, $direction) {
	-webkit-animation-duration: $duration;
	   -moz-animation-duration: $duration;
	     -o-animation-duration: $duration;
		    animation-duration: $duration;

	-webkit-animation-iteration-count: $iteration;
	   -moz-animation-iteration-count: $iteration;
	     -o-animation-iteration-count: $iteration;
	        animation-iteration-count: $iteration;

	-webkit-animation-name: $name;
	   -moz-animation-name: $name;
	     -o-animation-name: $name;
	        animation-name: $name;

	-webkit-animation-direction: $direction;
	   -moz-animation-direction: $direction;
	     -o-animation-direction: $direction;
		    animation-direction: $direction;
}

@mixin background-opacity($color, $opacity) {
    border-color: $color; /* The Fallback */
    border-color: rgba($color, $opacity);
}

@mixin flex-c {
	display: flex;
	align-items: center;
}
@mixin flex-cc {
	@include flex-c;
	justify-content: center;
}
@mixin flex-cb {
	@include flex-c;
	justify-content: space-between;
}
@mixin flex-ce {
	@include flex-c;
	justify-content: flex-end;
}
@mixin flex-cs {
	@include flex-c;
	justify-content: flex-start;
}

@mixin flex-ss {
  align-items: flex-start;
  justify-self: flex-start;
}
@mixin flex-ca {
	@include flex-c;
	justify-content: space-around;
}

@mixin ease($seconds) {
    transition: all $seconds ease-in-out;
    -webkit-transition: all $seconds ease-in-out;
    -moz-transition: all $seconds ease-in-out;
    -ms-transition: all $seconds ease-in-out;
    -o-transition: all $seconds ease-in-out;
}

@mixin transform($transform) {
    transform: $transform;
    -webkit-transform: $transform;
    -moz-transform: $transform;
    -ms-transform: $transform;
    -o-transform: $transform;
}

@mixin zero($mt: 0, $mb: 0, $pt: 0, $pb: 0 ) {
    margin-top: $mt;
    margin-bottom: $mt;
    padding-top: $mt;
    padding-bottom: $mt;
}

@mixin mask($link, $color){
  -webkit-mask: url($link) no-repeat 50% 50%;
  mask: url($link) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: $color;
}
@mixin cover {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

@mixin hidden {
	overflow: hidden;
	width: 100%;
}


$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
  lg: 992px,
  xl: 1200px,
  
);
$breakpoint: md;


@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n != null and $n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
  }
  
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}
  
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - .02, null);
}
  
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}
  
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    @if $min {
      @media (min-width: $min) {
        @content;
      }
    } @else {
      @content;
    }
}
  
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);
    @if $max {
      @media (max-width: $max) {
        @content;
      }
    } @else {
      @content;
    }
}
  
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($lower, $breakpoints);
    $max: breakpoint-max($upper, $breakpoints);
  
    @if $min != null and $max != null {
      @media (min-width: $min) and (max-width: $max) {
        @content;
      }
    } @else if $max == null {
      @include media-breakpoint-up($lower, $breakpoints) {
        @content;
      }
    } @else if $min == null {
      @include media-breakpoint-down($upper, $breakpoints) {
        @content;
      }
    }
  }
  

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);
    $max: breakpoint-max($name, $breakpoints);
  
    @if $min != null and $max != null {
      @media (min-width: $min) and (max-width: $max) {
        @content;
      }
    } @else if $max == null {
      @include media-breakpoint-up($name, $breakpoints) {
        @content;
      }
    } @else if $min == null {
      @include media-breakpoint-down($name, $breakpoints) {
        @content;
      }
    }
}
  

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
      @content;
  }
  @-moz-keyframes #{$animationName} {
      @content;
  }
  @-o-keyframes #{$animationName} {
      @content;
  }
  @keyframes #{$animationName} {
      @content;
  }
}