/*AFSPRAAKBLOK*/

.afspraak-blok {
	width: 100%;
	position: relative;
	background-color: white;
	margin-top: 30px;
	.afspraak-status {
		height: 95px;
		width: 95px;
		border-radius: 100%;
		position: absolute;
		background: white;
		top: -30px;
		left: 40px;
		-webkit-box-shadow: -3px -8px 10px rgba(154, 154, 154, 0.06);
		box-shadow: -3px -8px 10px rgba(154, 154, 154, 0.06);
        z-index: 1;

        p{
            margin-bottom: 0;
        }
	}
	.afspraak-content {
		padding: 0 40px 20px;
		position: relative;
		h3 {
			padding-right: 50px;
		}
		.afspraak-content-inner {
			position: relative;
			&-ul{
				list-style: none;
				padding-left: 0;
				li{
					list-style: none;

					svg{
						width: 13px;
						margin-right: 20px;
						transform: translateY(7px);
					}
				}
			}
		}
		&::before {
			content: '';
			position: absolute;
			left: 0;
			height: 82px;
			top: -50px;
		}
		ul {
			padding-left: 1.318vw;
            @include media-breakpoint-down(sm){
                padding-left: 18px;
            } 
			li {
				padding-left: 0;
				position: relative;
				
			}
		}
	}
	.afspraak-inner {
		img {
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
}
.afspraak-blok.diapositief {
	background-color: black;
	.afspraak-status {
		background: black;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.afspraak-content {
		&::before {
			background-color: black;
		}
		ul {
			li {
				&:after {
					background-color: white;
				}
			}
		}
	}
	* {
		color: white;
	}
}
.afspraak-status {
	p {
		text-align: center;
	}
}


@-webkit-keyframes pop{
    0% {
        @include transform(scale(1));
    }
    20% {
        @include transform(scale(1.1));
    }
    40% {
        @include transform(scale(1));
    }
    60% {
        @include transform(scale(1.1));
    }
    80% {
        @include transform(scale(1));  
    }
    100% {
        @include transform(scale(1));
    }
}
    
@keyframes pop{
    0% {
        @include transform(scale(1));
    }
    20% {
        @include transform(scale(1.1));
    }
    40% {
        @include transform(scale(1));
    }
    60% {
        @include transform(scale(1.1));
    }
    80% {
        @include transform(scale(1));  
    }
    100% {
        @include transform(scale(1));
    }
}