.brands{
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.35);
        left: -1px;
    }

    &::after{
        content: '';
        top: -1px;
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.35);
    }
    .brand{
        position: relative;
        
        width: 25%;    
        padding-bottom: 25%;
        border-right: 1px solid rgba(255, 255, 255, 0.35);
        border-bottom: 1px solid rgba(255, 255, 255, 0.35);
        picture{
            position: absolute;
            top: 0;
            width: 70%;
            top: 15%;
            left: 15%;
            filter: brightness(0) invert(1);
        }
    }
}