.button{
    background: transparent;
    border: 1px solid white;
    height: 57px;
    display: inline-block;
    position: relative;

    a{
        position: relative;
        min-width: 100%;
        text-align: center;
        display: inline-block;
        color: white;
        text-decoration: none;
        
        padding: 16px 30px 17px;
        height: 100%;
        font-size: 18px;
        line-height: 1;
        z-index: 1;
        @include ease(.3s);
    }

    &::after{
        content: '';
        position: absolute;
        height: 0;
        display: block;
        bottom: 0;
        left: 0;
        background: white;
        @include ease(.3s);
        width: 100%;
        z-index: 0;
    }

    &:hover{
        &::after{
            height: 100%;
            top: 0;
            background: white;
        }

        a{
            color: black;
        }
    }

    &.base-color{
        background-color: var(--color-contrast)!important;
        border: 1px solid var(--color-contrast);

        &:hover{
            a{
                color: var(--color-contrast)!important;
            }
        }
    }

    &.donker{
        border: 1px solid black;

        a{
            color: black;
        }

        &::after{
            background: black;
        }

        &:hover{
            &::after{
                background: black;
            }

            a{
                color: white;
            }
        }
    }

    &.filled{
        background: white;
        border: 1px solid white;

        &::after{
            background: black;
        }

        a{
            color: black;
        }

        &:hover{
            a{
                color: white;
            }     
        }

        &.donker{
            background: black;
            border: 1px solid black;

            &::after{
                background: white;
            }

            a{
                color: white;
            }

            &:hover{
                a{
                    color: black;
                }     
            }
        }
    }

    &.second{
        a{
            color: white;
        }
    }
}

.buttons{
    .button{
        &-wrapper{
            margin-right: 22px;
            &:nth-last-child(1){
                margin-right: 0;
            }
        }
    }
}

