.collectie{
    position: relative;
    .collectie-item{
        position: relative;
        border-top: 1px solid black;
        padding: 10px 50% 10px 0;
        cursor: none;

        picture{
            display: none;
        }
        
        p{
            margin-bottom: 0;
            transition: transform .4s ease-in-out;
        }
        &:hover{
            p{
                transform: translateX(30px);
            }
        }
    }
}

.collectie-img-wrap{
    width: 240px;
    position: fixed;
    top: -150px;
    left: 200px;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    padding-bottom: 0;
    background-color: black;
    z-index: -100;
    transform: scale(0.5);

    .venues-img{
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    &.--img{
        padding-bottom: calc(240px * 1.35);
    }
    &.--price{
        width: 105px;
        padding-bottom: 105px;
        border-radius: 100%;

        span{
            color: white;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            text-align: center;
            transform: translate(-50%, -50%);
        }
    }
}