.externe-buttons-wrapper {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.active-site {
		background-color: black;
		margin-right: 20px;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		height: 45px;
		p {
			color: white;
			padding-left: 44px;
			padding-right: 44px;
			margin-bottom: 0;
		}
	}
}


.extern-button {
	position: relative;
	border-bottom: 1px solid black;
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 20px;
	&:after {
		content: '';
		position: absolute;
		height: 0;
		display: block;
		bottom: 0;
		left: 0;
		-webkit-transition: height .35s ease-in-out;
		-o-transition: height .35s ease-in-out;
		transition: height .35s ease-in-out;
		width: 100%;
		z-index: 0;
	}
	&:hover {
		&:after {
			height: 100%;
			top: 0;
		}
		.button-tekst {
			p {
				color: white;
			}
		}
	}
	.button-tekst {
		padding-left: 18px;
		padding-right: 18px;
		z-index: 1;
	}
	.button-arrow {
		width: 44px;
		height: 44px;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
	p {
		color: black;
		margin-bottom: 0;
		transition: all .3s ease-in-out;
	}
}
.extern-button.first {
	&:after {
		background-color: #275fbb;
	}
	.button-arrow {
		background-color: #275fbb;
	}
}
.extern-button.second {
	&:after {
		background-color: #d64937;
	}
	.button-arrow {
		background-color: #d64937;
	}
}