/*ACCORDION*/
.faq-item {
	border: 1px solid black;
	border-bottom: 0px solid black;
	position: relative;
	&:nth-last-child(1) {
		border-bottom: 1px solid black;
	}
	&:first-child {
		border-top: 1px solid black;
	}
}
.accordion {
	position: relative;
	background-color: white;
	border: none;
	border-top: none;
	line-height: 100px;
	height: auto;
	cursor: pointer;
	padding: 0px 25px;
	width: 100%;
	text-align: left;
	outline: none;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
	&:focus {
		outline: none;
	}
	.intro {
		line-height: 60px;
		color: #000;
		margin-bottom: 0;
	}
	&:after, &::before {
        content: '';
		position: absolute;
		top: 28px;
		right: 25px;
		width: 20px;
		height: 1px;
		background: black;
        @include ease(.4s);
	}

    &::before{
        @include transform(rotate(90deg));
    }
}

.accordion.active {
	&:after {
		@include transform(rotate(45deg));
	}

    &:before {
		@include transform(rotate(135deg));
	}
}

.panel {
	padding: 0 27px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: var(--transition);
	border: 1px solid #EFEFEF;
	border-top: none;
	border-bottom: 0;
	.inner-panel {
		padding: 0 0 25px 0;
		p {
			margin-bottom: 0;
			width: 80%;
			@include media-breakpoint-down(md){
				width: 100%;
			}
		}
	}

	&-button{
		margin-top: 35px;
	}
}

