::-webkit-input-placeholder{
    @include ease(.1s);
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
.contact-form{
    .select-arrow{
        position: absolute;
        top: 9px;
        right: 0;
        pointer-events: none;
    }
    .form{
        &-field-container{
            padding-left: 10px;
            padding-right: 10px;
          
            &.full{
                width: 100%;
            }
    
            &.half{
                width: 50%;
            }    
            
            .form-field{
                position: relative;
                margin-bottom: 13px;
                &__label{
                    opacity: 0.5;
                    &.form-field__label__text{
                        position: absolute;
                        top: 0;
                        @include transform(translateY(10px));
                        @include ease(.3s);
                        opacity: 0;
                        visibility: hidden;
                        font-size: 13px;
                    }
                    &.form-field__label__file{
                        padding: 19px 30px;
                        background-color: transparent;
                        opacity: 1;
                        border: 1px solid black;
                        @include media-breakpoint-down(md){
                            padding: 7px 10px;
                        }

                    }
                }

                &__error{
                    &.form-field{
                        input{
                            border-color: red;
                            color: red;
                        }
                    }
                }

                &--is-filled, &--is-active {
                    .form-field{
                        &__label{
                            &.form-field__label__text{
                                @include transform(translateY(-14px));
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
                input, select, textarea{
                    position: relative;
                    padding: 10px 0;
                    min-height: 40px;
                    border: none;
                    border-bottom: 1px solid black;
                    @include border-radius(0);
                    -webkit-appearance: none;
                    -moz-appearance : none;
                    background-color: transparent;

                    ::placeholder{
                        color: rgba(0, 0, 0, 0.5);
                    }
                    
                    &:focus{
                        outline: none;
                    }
                }
                &.file{
                    .form-field{
                        &__file {
                            margin-left: auto;
                            padding: 0 0 0 0;
                            height: 40px;
                            line-height: 40px;
                            width: 180px;
                            margin-right: 30px;
                            direction: rtl;
                            @include media-breakpoint-down(md){
                                margin-left: 30px;
                                max-width: 140px;
                                margin-right: 0;
                            }
                        }
                    }
                }
                
                &.radio{
                    min-height: unset;
                    border-bottom: 1px solid black;
                    padding-bottom: 10px;
                    .option{
                        margin-right: 30px;
                        &:nth-last-child(1){
                            margin-right: 0;
                        }
                    }
                    input{
                        min-height: unset;
                        padding: 5px;
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                        @include border-radius(100%);
                        border: 1px solid black;
                        
    
                        &::after{
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            background-color: transparent;
                            @include ease(.3s);
                            @include border-radius(100%);
                        }
    
                        &:checked{
                            &::after{
                                background-color: black;  
                            }
                        }
                    }
                }

                &.checkbox{
                    min-height: unset;
                    .option{
                        margin-right: 30px;
                        &:nth-last-child(1){
                            margin-right: 0;
                        }
                    }
                    input{
                        min-height: unset;
                        padding: 5px;
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                        @include border-radius(0);
                        border: 1px solid black;
                        
    
                        &::after{
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            top: 0;
                            left: 0;
                            background-color: transparent;
                            @include ease(.3s);
                            @include border-radius(0);
                        }
    
                        &:checked{
                            &::after{
                                background-color: black;  
                            }
                        }
                    } 
                }

                &.file{
                    position: relative;
                    border: none;
                    
                    @include media-breakpoint-down($breakpoint){
                        flex-flow: row wrap;

                        div{
                            width: 100%;

                            &:nth-child(2){
                                flex-flow: row-reverse;
                                margin-top: 20px;
                            }
                        }
                    }
                    
                    .icon_file{
                        position: absolute;
                        bottom: 14px;
                        right: 10px;
                        display: none;
                    }
                    input{
                        margin-top: 0px;
                        border: none;
                        background-color: transparent;
                        padding-left: 0;
                        -webkit-appearance: none;
                        padding: 10px 10px;
                        opacity: 1;

                        
                        &::-webkit-file-upload-button{
                            visibility: hidden;
                            display: none;
                        }
                    }
                }
            }
        }
    
        &-group{
            &__description{
                h6{
                    margin-bottom: 0;
                }
                p{
                    margin-bottom: 0;
                }
    
                &__text{
                    margin-top: 1em;
                }
    
                margin-bottom: 70px;
            }
            &__fields{
                width: calc(100% + 20px);
                margin-left: -10px;  
            }
        }
    }

    .contact-form__button{
        margin-top: 30px;
    }
}

fieldset{
    display: block;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-end: 0;
    min-inline-size: unset;
    border-width: 0;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

