.gallery{
    width: calc(100% + 2rem);
    margin-left: -1rem;
    &-item, &-sizer{
        
        width: calc((100% - 3px) / 3);
        padding-right: 1rem;
        padding-left: 1rem;

        @include media-breakpoint-down(sm){
            width: 100%;
        }

        &-inner{
            position: relative;
        }

        .item{
            width: 100%;
        }
        picture{
            height: 0;
            width: 100%;
            margin-bottom: 2rem;
        }
        
    }
}

