.grow_timeline {
	position: relative;
	overflow: hidden;
    @include media-breakpoint-down(md){
        flex-flow: column;
        .grow_item {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .grow_item {
        position: relative;
        padding: 14px 17px;
        background-color: #909090;
        p {
            color: white;
            margin-bottom: 0;
        }
        &:nth-child(1) {
            background-color: black;
            &::after {
                content: '';
                width: 30px;
                height: 100%;
                background-color: white;
                z-index: 2;
                position: absolute;
                top: 0;
                right: -30px;

                @include media-breakpoint-down(md){
                    top: 100%;
                    right: 50%;
                    transform: translateX(50%);
                    height: 15px;
                    background-color: white;
                }
            }
        }
        &:nth-last-child(1) {
            background-color: #BFBFBF;
            &::before {
                content: '';
                width: 30px;
                height: 100%;
                background-color: white;
                z-index: 2;
                position: absolute;
                top: 0;
                left: -30px;
                @include media-breakpoint-down(md){
                    top: 0%;
                    right: 50%;
                    left: unset;
                    transform: translateX(50%) translateY(-100%);
                    height: 15px;
                    background-color: white;

                }
            }
            @include media-breakpoint-down(md){
                margin-bottom: 0;
            }
        }
        &:nth-child(2) {
            &::after {
                content: '';
                width: 100vw;
                height: 1px;
                background-color: #909090;
                z-index: -1;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                @include media-breakpoint-down(md){
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(90deg);
                }
            }
        }
    }
    
}
