/* HIGHLIGHT */

.highlights-container {
	position: relative;
	height: auto;
	max-height: 900px;
	overflow: hidden;
}
.header__highlights {
	position: relative;
	height: auto;
	width: 100%;
	max-height: 900px;
	picture {
		width: 100%;
		height: 100%;
	}
}
.header__highlight {
	width: 15px;
	height: 15px;
	margin-left: -7.5px;
	margin-top: -7.5px;
	position: absolute;
	z-index: 16;
	cursor: pointer;
	.pulse-ring {
		&:before {
			content: '';
			position: absolute;
			display: block;
			width: 300%;
			height: 300%;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			margin-left: -100%;
			margin-top: -100%;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.15);
			z-index: 0;
			opacity: 1;
			-webkit-animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
			animation: pulse-ring 2s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
			-webkit-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}
	}
}
.pulse-dot {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	z-index: 1;
	position: relative;
}
.pulse-ring {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 0;
	left: 0;
}
.product-detail-container {
	position: absolute;
	width: 0%;
	height: 0%;
	top: 0;
	left: 0;
	overflow: visible;
	z-index: 2;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: all .6s cubic-bezier(0.24, 1, 0, 1.1);
	-o-transition: all .6s cubic-bezier(0.24, 1, 0, 1.1);
	transition: all .6s cubic-bezier(0.24, 1, 0, 1.1);
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
	.product-detail {
		position: absolute;
		width: auto;
		height: auto;
		max-width: 200px;
		min-width: auto;
		margin-right: 0;
		margin-left: auto;
		background: white;
		font-size: 14px;
		padding: 9px 15px;
		text-align: center;
		position: absolute;
		opacity: 0;
		border: 1px solid black;
		-webkit-transform: translateX(calc(-100% - 40px)) translateY(-50%);
		-ms-transform: translateX(calc(-100% - 40px)) translateY(-50%);
		transform: translateX(calc(-100% - 40px)) translateY(-50%);
		transition: all .5s ease-in-out;
		-webkit-transition: all .5s ease-in-out;
		-moz-transition: all .5s ease-in-out;
		-ms-transition: all .5s ease-in-out;
		-o-transition: all .5s ease-in-out;
	}
}
.close-container {
	position: absolute;
	width: 100%;
	height: 0%;
	bottom: 0;
	left: 0;
	background: transparent;
	transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	z-index: 20;
	&:hover {
		cursor: default;
	}
}
.active_highlight {
	.close-container {
		height: 100%;
	}
}
.modal-dialog {
	.menu-open {
		.bar {
			background-color: white;
		}
	}
}
.product-detail-container.left {
	.product-detail {
		-webkit-transform: translateX(40px) translateY(-50%);
		-ms-transform: translateX(40px) translateY(-50%);
		transform: translateX(40px) translateY(-50%);
	}
}
.product-detail-container.modal-open {
	.product-detail {
		opacity: 1;
	}
}
.product-detail {
	p {
		color: #000000;
		margin-bottom: 0;
	}
	a {
		color: #000000;
		margin-bottom: 0;
	}
}

@-webkit-keyframes pulse-ring {
	0% {
		-webkit-transform: scale(0.33);
		transform: scale(0.33);
	}
}
@keyframes pulse-ring {
	0% {
		-webkit-transform: scale(0.33);
		transform: scale(0.33);
	}
}