.horizontal-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
    &-container{
        position: relative;
        max-width: 100vw;
        overflow: hidden;
        padding-top: 90px;
    }
    h2{
        font-size: 80px;
        line-height: 90px;
        white-space: nowrap;
    }

    .stripe{
        margin-left: 40px;
        margin-right: 40px;
    }
}