.parralax-images{
    &.in-frame{
        overflow: hidden;

        .parralax-img{
            img{
                height: 120%; 
                margin-top: -10%; 

                @include media-breakpoint-down(sm){
                    height: 100%; 
                    margin-top: 0%; 
                }
            }
        }
    }

    
    .parallax-img {
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            margin-top: 0%; 
        }
    }
}


.plate--element__image picture{
    position: relative;
}

picture {
    position: relative;
    display: block;
    line-height: 0;
    height: 0;

    img{
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &.image{
        &.image-svg{
            img{
                object-fit: contain;
            }  
        }
    }
}

.pinterest-link{
    position: absolute;
    top: 30px;
    right: 30px;
    height: 45px;
    width: 45px;
    background: rgba(0, 0, 0, 0.3);
    z-index: 4;
    @include border-radius(100%);
    @include ease(.4s);
    &:hover{
        background-color: rgba(0, 0, 0, 1);
    }
    &-inner{
        position: relative;
        height: 100%;
        width: 100%;
        
    }
}

