.images-text{
    .rotator{
        position: absolute;
        height: 9.736vw;
        width: 9.736vw;
        transform: translateX(-50%) translateY(-50%);
        left: 0;
        top: 50%;

        @include media-breakpoint-down(md){
            width: 90px;
            height: 90px;
            left: 25vw;
        }
        
        svg{
            width: 100%;
            height: 100%;
        }
    }

    h3, h2{
        font-size: 5.124vw;
        font-weight: 500;
        line-height: 5.124vw;
        margin-top: 0;
        margin-bottom: 30px;

        letter-spacing: -1px;

        @include media-breakpoint-down(lg){
            font-size: 45px;
            line-height: 50px;
        }

        *{
            font-size: inherit;
            letter-spacing: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
        }

    }
    &-side{
        position: relative;
        width: 45%;
        @include media-breakpoint-down($breakpoint){
            width: 100%;
        }
        .parralax-images{
            &:nth-child(1){
                margin-bottom: 150px;
                margin-top: 100px;
                @include media-breakpoint-down($breakpoint){
                    margin-top: 0;
                    margin-bottom: 45px;
                }
            }

            &:nth-child(2){
                margin-left: -30%;
                width: 100%;
            }

            picture{
                transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                @include transform(translateY(-101%));
                transition-delay: 0.7s;
                @include media-breakpoint-down(md){
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-delay: 0s;
                }
            }
            @include media-breakpoint-down($breakpoint){
                &.img-1{
                    max-width: 25vw;
                    margin-right: 0;
                    margin-left: 0;
                    margin-bottom: 0;
                }

                &.img-2{
                    margin-left: auto;
                    width: 45vw;
                    margin-top: -60px;
                }

                &.img-3{
                    margin-bottom: -30px;
                    margin-left: 5vw;
                    width: 45vw;
                }
            }

            
            .revealer{
                position: relative;
                @include transform(translateY(101%));
                transition: all 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
                overflow: hidden;
                transition-delay: 0.7s;
                @include media-breakpoint-down(md){
                    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                    transition-delay: 0s;
                }
            }

            &.is-inview{
                picture{
                    @include transform(translateY(0%));
                }

                .revealer{
                    @include transform(translateY(0%));
                }
            }
        }
    }
    &-content{
        
        &-buttons{
            margin-top: 45px;
            margin-bottom: 150px;
            @include media-breakpoint-down($breakpoint){
                margin-bottom: 90px;
            }
        }

        &-image{
            width: 50%;
            @include media-breakpoint-down($breakpoint){
                margin-left: auto;
            }
        }

        h2 {
            margin-bottom: 17px;
        }
    }
    
    .parralax-img{
        &-3{
            width: 100%;
        }
    }  
}



