.paragraph{
    &-block{
        padding: 50px 35px 50px 50px;
        @include media-breakpoint-down(md){
            padding: 20px 35px 20px 20px;
        }
        :nth-last-child(1){
            margin-bottom: 0;   
        }
    }

    
    a{
        text-decoration: none;
        color: inherit;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: unset;
            bottom: -1px;
            height: 1px;
            width: 100%;
            background-color: black;
            left: 0;
            @include transform(scaleX(0));
            @include ease(.4s);
        }

        &:hover{
            &::after{
                @include transform(scaleX(1));
            }
        }
           
    }

    ul{
        padding-left: 21px;
    }
}