.schedule {
	overflow: hidden;
	position: relative;
	.swiper-pagination-clickable {
		.swiper-pagination-bullet.swiper-pagination-bullet-active {
			background-color: transparent;
		}
		.swiper-pagination-bullet {
			opacity: 1;
			width: auto;
			height: 100%;
			padding: 11px 25px;
			color: black;
			background-color: transparent;
			border-radius: 50px;
			margin: 0 0 0 0;
			z-index: 2;

			@include media-breakpoint-down(md){
				padding: 5px 11px;
			}
		}
	}
	.slider-container__tabs {
		.swiper-pagination {
			position: relative !important;
			text-align: left;
			margin-bottom: 33px;
			bottom: 0;
			background-color: #E8E8E8;
			padding: 5px;
			height: auto;
			border-radius: 50px;
			display: flex;
			flex-flow: row;
			justify-content: space-between;
			margin: 0 0 30px 0;
			@include media-breakpoint-down(md){
				height: 50px;	
			}
		}
	}

	.indicator{
		width: 40px;
		height: calc(100% - 10px);
		position: absolute;
		left: 0;
		top: 5px;
		background-color: white;
		z-index: 1;
		@include border-radius(50px);
		@include media-breakpoint-down(md){
			height: 40px;	
		}
	}
}
.swiper-pagination-bullet-active {
	background-color: transparent;
}
.schedule-item__text {
	p {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 0;
		margin-bottom: 0;
	}
	padding: 16px 20px;
	width: calc(100% - 100px);
	background-color: #E8E8E8;
	border-radius: 5px;
	@include media-breakpoint-down(md){
		width: calc(100% - 70px);
	}
}
.schedule-item__time {
	p {
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 0;
	}
	width: 100px;
	@include media-breakpoint-down(md){
		width: 70px;
	}
}
.weekoverview {
	.afbeelding {
		margin-top: 60px;
	}
}
.schedule-item {
	display: flex;
	flex-direction: row;
	margin-bottom: 15px;
	&:nth-last-child(1) {
		margin-bottom: 0;
	}
}
