/* DIENSTEN SLIDER */
.diensten-slider, .news-slider {
    &-wrapper{
        padding-bottom: 35px;
        .item-wrapper{
            opacity: 1;
            @include ease(.5s);
            @include transform(translateX(0%));
            visibility: visible;
            transform-origin: center center;
            &.animated{
                opacity: 1;
                visibility: visible;
                @include transform(translateX(0%));
            }
        }
    }
}

.swiper-button-disabled{
    pointer-events: none!important;
}

.image{
    &-slider{
        &.slideshows-2{
            padding-bottom: 60px;
            .image-slider{
                &-wrapper {
                    width: calc(70% + 40px);
                    &-2{
                        width: 36%;
                        position: absolute;
                        bottom: -60px;
                        right: 0;

                        @include media-breakpoint-down(md){
                            bottom: 0px;
                        }
                    }
                }
            }

            .slider-buttons{
                bottom: 80px;
                left: 20px;
            }
        }

        &.slideshows-1{
            .slider-buttons{
                right: 20px;
                bottom: 20px;
                left: unset;
            }
        }

        overflow: hidden;
        position: relative;
        &-wrapper{
            overflow: hidden;
            position: relative;
           
        }
    }
}

.review{
    &-slider{
        position: relative;
        min-height: 670px;
        height: 100%;

        &.review-slider-auto{
            min-height: unset;
            .swiper-wrapper{
                .review{
                    &-item{
                        &__content{
                            padding-top: 80px;
                            padding-bottom: 80px;
                            &__text{
                                :nth-last-child(1){
                                   margin-bottom: 0; 
                                }
                            }
                        }
                    } 
                }   
            }
            .slider-buttons{
                bottom: 80px;
            }
        }

        &-wrapper{
            height: 100%;
            .slider-buttons{
                left: unset;
                @include transform(translateX(0%));
                right: 10%;
                @include media-breakpoint-down(lg){
                    left: 10%;
                    bottom: 0;
                    @include transform(translateX(0));
                }
            }
        }

        .swiper-wrapper{
            .review{
                height: auto;
                transition-duration: .45s!important;
                transition-timing-function: ease;
                visibility: hidden;
                &.swiper-slide-active{
                    visibility: visible;
                }
                &-item{
                    height: 100%;
                    &__column{
                        &:nth-child(1){
                            width: calc(50% - 100px);
                            @include media-breakpoint-down(lg){
                                width: 100%;
                            }
                            .review-item__image_inner{
                                height: 100%;
                                .image{
                                    /* @include transform(translateX(110%)); */
                                    transition: var(--transition);
                                }
                            }
                            
                        }
                        &:nth-child(2){
                            width: calc(50% + 100px);
                            .review-item__content__text{
                                overflow: hidden;

                                h4 {
                                    font-size: 32px;
                                    font-weight: 400;
                                    line-height: 44px;
                                    margin-top: 0;
                                    margin-bottom: 32px;
                                }
                            }
                            @include media-breakpoint-down(lg){
                                width: 100%;
                            }
                        }
                    }
    
                    &__content{
                        padding: 0px calc(10% + 75px) 225px 80px;
                        @include media-breakpoint-down(lg){
                            padding: 40px 0 50px 0;
                        }
                        &__link{
                            position: relative;
                            padding-left: 28px;
                            height: 64px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            margin-left: auto;
                            
                            

                            a {
                                text-decoration: none;
                                color: black;
                                position: relative;

                                svg{
                                    margin-right: 50px;
                                    filter: invert(1);
                                    
                                    path{
                                        fill: black;
                                    }
                                }
                            }

                            &::before{
                                content: '';
                                @include border-radius(100%);
                                height: 64px;
                                width: 64px;
                                background-color: black;
                                opacity: .3;
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                @include transition(.4s); 

                                
                            }

                            &:hover{
                                &::before{
                                    opacity: .4;
                                    @include transform(translateY(-50%) scale(.9));
                                }
                            }
                        }
                    }
                }

                &.swiper-slide-active .review-item__column:nth-child(1) .image,   &.swiper-slide-prev .review-item__column:nth-child(1) .image{
                    /* @include transform(translateX(0%)); */
                }
            } 
        }
    }
}

.slider {
    position: relative;
    &-buttons{
        width: 130px;
        height: 55px;
        @include media-breakpoint-down(md){
            width: 115px;
        }
        position: absolute;
        bottom: 115px;
        display: flex;
        z-index: 3;
        &.theme{
            &-dark{
                .slider-buttons-inner{
                    .swiper-button{
                        &-next, &-prev{
                            background-color: black;
                        }
                    }
                }
            }
        }
        &-inner{
            position: relative;
            width: 100%;
            .swiper-button{
                &-next, &-prev{
                    display: block;
                    width: 50%;
                    height: 55px;
                    top: 0;
                    margin-top: 0;
                    position: relative;
                    text-indent: 0;
                    z-index: 9;
                    left: 0;
                    overflow: hidden;
                    pointer-events: auto;
                    -webkit-transition: color .4s cubic-bezier(.19, 1, .22, 1);
                    -o-transition: color .4s cubic-bezier(.19, 1, .22, 1);
                    transition: color .4s cubic-bezier(.19, 1, .22, 1);
                    border: 1px solid transparent;
                    background-color: var(--gray);
                    border-radius: 100%;
                    
                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        -webkit-transform: scaleX(0);
                        -ms-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transform-origin: right;
                        -ms-transform-origin: right;
                        transform-origin: right;
                        background-color: var(--gray);
                        -webkit-transition: transform .5s cubic-bezier(.19, 1, .22, 1);
                        -o-transition: transform .5s cubic-bezier(.19, 1, .22, 1);
                        -webkit-transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
                        transition: -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
                        transition: transform .5s cubic-bezier(.19, 1, .22, 1);
                        transition: transform .5s cubic-bezier(.19, 1, .22, 1), -webkit-transform .5s cubic-bezier(.19, 1, .22, 1);
                    }

                    &:hover{
                        &::after{
                            @include transform(scaleX(1));
                        }
                    }

                }   
    
                &-next{
                    border-left: none;
                    &::after{
                        -webkit-transform-origin: left;
                        -ms-transform-origin: left;
                        transform-origin: left;
                    }
                }

                &-prev{
                    margin-right: 20px;
                    @include media-breakpoint-down(md){
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .swiper{
        &-scrollbar{
            height: 1px;
            width: 100%;
            left: 0;
            &-drag{
                height: 2px;
                top: -0.5px;
            }
            &.dark{
                background: rgba(0,0,0,.25);
                .swiper-scrollbar-drag{
                    background: rgba(0,0,0,1);
                }
            }
            &.light{
                background: rgba(255,255,255,.25);
                .swiper-scrollbar-drag{
                    background: rgba(255,255,255,1);
                }
            }
        }
    }
}

.news-slider{
    h3{
        margin-bottom: 39px;
    }
}



.item-wrapper { 
    position: relative;
    height: auto;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 25px;
    overflow: hidden;
    background-size: cover;

    &.dienst-cta{
        width: 100%;
        .image-container{
            width: 100%;
            left: 0;
            padding-bottom: 75%; 
            @include media-breakpoint-down(md){
                padding-bottom: calc((225 / 166) * 100%);
            }
        }
    }

    &.project{
        width: 100%;
        &-index{
            margin-bottom: 60px;
        }
    }

    &.news.project{
        .image-container{
            padding-bottom: 72%;
        }
    }

    &.news{
        height: auto;

        .overlay{
            display: none;
        }
        .item-inner{
            position: relative;
            height: auto;
            padding: 30px 0 40px;

            .title, .text{
                p{
                    color: black;
                }
            }

            .category, .text{
                margin-top: 0;
                margin-bottom: 0;
            }

            .text{
                margin-left: 15px;
                
                &.--nom{
                    margin-left: 0;
                }
            }

            
            .title{
                margin-top: 20px;
            }
        }

        .image-container{
            height: auto;
            padding-bottom: 70%;
        }
    }
    
    .overlay {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 1;
        transition: opacity .8s cubic-bezier(.19,1,.22,1);
    }

    .image-container{
        position: relative;
        left: -15%;
        width: 125%;
        height: 100%;
        padding-bottom: calc((225 / 166) * 100%);
        overflow: hidden;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: transform .8s cubic-bezier(.19,1,.22,1);
        -o-transition: transform .8s cubic-bezier(.19,1,.22,1);
        -webkit-transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
        transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
        transition: transform .8s cubic-bezier(.19,1,.22,1);
        transition: transform .8s cubic-bezier(.19,1,.22,1), -webkit-transform .8s cubic-bezier(.19,1,.22,1);
    }

    &.news{
        .item-container{
            padding-bottom: calc(calc((244 / 215) * 100%));
        }
    }

    .title{
        p{
            margin-bottom: 0;
        }
    }

    .dienst-img{
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        transition: all 1.8s cubic-bezier(.19,1,.22,1);
    }

    .item{
        &-inner{
            position: absolute;
            bottom: 0;
            padding: 40px 40px;
            height: 100%;
            width: 100%;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            background-color: transparent;
            @include ease(.3s);
            z-index: 2;

            .category{
                position: relative;
                margin-bottom: 30px;
                background: rgba(0, 0, 0, .2);
                padding: 5px 15px;
                color: white;
                font-size: 17px;
                line-height: 1.5;
                @include media-breakpoint-down(lg){
                    font-size: 17px;
                    padding: 5px 15px;
                }
            }
            .title{
                margin-top: 10px;
            }

            .text{
                text-overflow: ellipsis;
                margin-top: 15px;

                p{
                    color: white;
                    font-size: 17px;
                    line-height: 27px;
                    text-overflow: ellipsis;
                    margin-bottom: 0;
                }
            }
        }
    }

    &.dienst{
        .item{
            &-inner{
                z-index: 5;
                height: auto;
                padding: 50px 50px 50px 50px;
            }
        }
       

        .text{
            max-height: unset;
            height: auto;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
            transition: height .5s ease;

            p{
                color: white;
                font-size: 19px;
                line-height: 30px;
                text-overflow: ellipsis;
                margin-bottom: 0;
                @include media-breakpoint-down(lg){
                    font-size: 17px;
                    line-height: 30px;
                }
            }
        }

       
    }
    &:hover{
        .dienst-img{
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

        .overlay{
            opacity: 0;
        }
    }
    &:nth-last-child(1){
        margin-right: 0;
    }

    .title, .title .white-title{
        position: relative;
        z-index: 3;
    }

    &.has-button{
        .button{
            position: relative;
            bottom: 0;
            transform: translateY(0%);
            width: auto;
            z-index: 3;
            margin-top: 40px;

            &.light{
                background-color: white;

                a{
                    color: black;
                }
            }
            a{
                text-align: left;
                padding-left: 40px;
                padding-right: 40px;
            }
        }

        &:hover{
            .button{
                transform: translateY(0);
            }

            .item{
                &-inner{
                    @include transform(translateY(0));
                }
            }
        }
    }
}

.result{
    .item-wrapper{
        width: calc(50% - 30px);
        margin-right: 0;

        @include media-breakpoint-down(md){
            width: 100%;
        }
        &.news{
            .image-container{
                width: 100%;
                left: 0;
                padding-bottom: calc((2 / 3) * 100%);

            }
        }
    }
}

.diensten-slider {
    position: relative;
    padding-top: 100px;
    .slider-buttons{
        top: 0;
        left: unset;
        right: 0;
        bottom: unset;
    }
}

.news-slider{
    .slider-buttons{
        top: 0;
        left: unset;
        right: 0;
        bottom: unset;
    }
}

.white-title {
    color: white;
    font-size: 2.343vw;
    line-height: 1.1;
    font-weight: 500;
    @include media-breakpoint-down(lg){
        font-size: 26px;
        line-height: 28px;
    }
}

.swiper-button-next, .swiper-button-prev{
    &:before  {
        position: absolute;
        display: block;
        content: ' ';
        background-image: url('/theme/assets/images/pijl.svg');
        background-size: contain;
        height: 15px;
        width: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        left: 50%;
        top: 50%;
        @include transform(translate(-50%, -50%));
        @include ease(.2s);
        z-index: 1;
        filter: invert(1);
    }

    &:hover{
        &:before  {

        }
    }
} 

.swiper-button-prev:before{
    @include transform(translate(-50%, -50%) rotate(180deg));
}

.grabbing .item-wrapper {
    transform: scale(0.95)!important;
    opacity: .96!important;
    @include media-breakpoint-down(md){
        transform: unset!important;
        opacity: 1!important;
    }
}