.dynamic-tab {
	overflow: hidden;
	.column.content {
        padding: 4% 10% 4% 0;

       

        .buttons{
            margin-top: 30px;
        }

    }

    &__inner {
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        height: 100%;
        @include media-breakpoint-down(sm){
            height: auto;
        }  

        h3{
            font-weight: 500;
        }
    }

    &.is-loaded{
        .tab-item {
            transition: transform var(--transition);
        }
    }

    .column {
        position: relative;
        width: 50%; 
        @include media-breakpoint-down(sm){
            width: 100%;
        }  
        &.tabs{
            display: flex;
            flex-direction: row;
            border: 1px solid black;
            @include media-breakpoint-down($breakpoint){
                border: none ;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                flex-direction: column;
                width: 100%;
            }  
        }
    }
}

.fullwidth{
    .dynamic-tab {
        .column.content{
            padding: 4% 10%;
            @include media-breakpoint-down(sm){
                padding-top: 0;
                padding-bottom: 40px;
            }    
        }
    }
    @include media-breakpoint-down(lg){
        .slider .review .review-item .review-item__content{
            padding-right: 8.93%;
            padding-left: 8.93%;
        }
    }
}

.tab-item {
	position: absolute;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	height: auto;
	width: 100%;
	right: 0;
    background-color: white;
    border-left: 1px solid black;
    @include media-breakpoint-down($breakpoint){
        position: relative;
        flex-direction: column;
        padding: 0 10%;
        border-left: none;
        border-top: 1px solid black;
    }

    &:nth-child(1){
        border-left: 1px solid transparent;
        @include media-breakpoint-down($breakpoint){
            border-top: 1px solid transparent;
        }
    }

    &__title {
        position: relative;
        width: var(--widthtitle);
        -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
        @include media-breakpoint-down($breakpoint){
            writing-mode: unset;
            width: 100%;
        }
        h4 {
            margin-bottom: 0;
            padding-top: 27px;
            padding-bottom: 27px;
            text-align: right;
            @include transform(rotate(180deg));
            @include media-breakpoint-down($breakpoint){
                @include transform(rotate(0deg));
                padding-top: 20px;
                padding-bottom: 20px;
            }
            font-weight: 300;
        }

        
    }

    &__image{
        margin-bottom: 30px;
    }

    &__content{
        width: calc(100% - var(--widthtitle));
	    transition: width var(--transition);

        &__inner{
            padding: 0px 0px 40px 0;
            @include media-breakpoint-down($breakpoint){
                padding: 0 0 30px 0;
            }

            .tab-item__text{
                padding-right: 80px;

                &.tab-item__text__blank {
                    padding-top: 27px;
                }
                @include media-breakpoint-down($breakpoint){
                    padding-right: 0;
                }
            }
        }

        @include media-breakpoint-down($breakpoint){
            width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: var(--transition);
        }
    }
}



.sliding-tabs {
	position: relative;
	width: 100%;
    &__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__tabs {
            width: 300px;
            height: 100%;
            .sliding-tabs__item {
                position: relative !important;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-top: 18px;
                padding-bottom: 20px;
                border-bottom: 1px solid;
                &:first-child {
                    padding-top: 0;
                }
            }
            .sliding-tabs__item__title {
                p {
                    margin-bottom: 0;
                }
            }
            .sliding-tabs__item.active {
                .sliding-tabs__item__title {
                    p {
                        font-weight: 600;
                    }
                }
            }
        }

        &__text {
            width: calc(100% - 300px);
            transition: height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
            overflow: hidden;
            padding-left: 8%;

            &__wrapper{
                position: absolute;
                opacity: 0;
                transform: translateY(100%) translateZ(0);
                transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1), transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;

                &.active{
                    transform: translateZ(0);
                    opacity: 1;
                    transition-delay: .4s;
                }
            }
        }
    }
}
