.speerpunt{
    &-wrapper {
        position: relative;
        width: 100%;
    
        .speerpunt{
            &-header{
                position: relative;
            }
            &-body{
                position: relative;
                padding-left: 15px;
            }

            &-icon{
                position: relative;
                width: 20px;
                height: 40px;
                top: -2px;
            }
        }
    }    
}

