.vacature::after, .vacature-wrapper::after{
    content: '';
    height: 1px;
}

.vacature-wrapper{
    width: 100%;
}
.vacature__overview{
    margin-top: 25px;
}

.vacature__filter {
    margin-bottom: calc(60px - .5rem);
    .post_filter{
        margin-bottom: 0;
    }
	.category-selection-field {
        margin-right: 10px;
        border: 1px solid rgba(0, 0, 0, .2);

		input[type="checkbox"] {
			+ {
				span.category-title {
					padding: 6px 15px;
				}
			}
			&:checked {
				+ {
					span.category-title {
						background-color: black;
						color: white;
					}
				}
			}
		}
	}

    h4{
        margin-bottom: .5rem;
    }
}
.vacature__item {
	position: relative;
	width: calc(1 / 3 * 100% - (120px / 3));
	@include media-breakpoint-down($breakpoint){
		width: calc(1 / 2 * 100% - (60px / 2));
	}
	@include media-breakpoint-down(sm){
		width: 100%;
	}
	&:hover {
		.vacature__item__image {
			transform: scale(1.1);
		}
	}
}
.vacature {
	&::after {
		position: relative;
		width: calc(1 / 3 * 100% - (120px / 3));
		@include media-breakpoint-down($breakpoint){
			width: calc(1 / 2 * 100% - (60px / 2));
		}
		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
}
.vacature-wrapper {
	&::after {
		position: relative;
		width: calc(1 / 3 * 100% - (120px / 3));
		@include media-breakpoint-down($breakpoint){
			width: calc(1 / 2 * 100% - (60px / 2));
		}

		@include media-breakpoint-down(sm){
			width: 100%;
		}
	}
}
.vacature__item__image__hidden {
	overflow: hidden;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 100%, calc(100% - 40px) 100%, calc(100% - 40px) calc(100% - 40px), 0 calc(100% - 40px));
}
.vacature__item__image {
	padding-top: calc((49 / 66) * 100%);
	transition: all .3s ease-in-out;
}
.itm-divider {
	margin-left: 22px;
	margin-right: 22px;
	color: inherit;
}
.vacature__item__content {
	position: relative;
	padding: 30px 30px 0px 30px;
	width: calc(100% - 40px);
	transform: translateY(-40px);

	p {
		color: #6D7278;
		margin-top: 7px;
	}
}
