@font-face {
    font-family: 'GTWalsheim';
    src: url('/theme/assets/fonts/GTWalsheimProRegular.woff2') format('woff2'),
        url('/theme/assets/fonts/GTWalsheimProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('/theme/assets/fonts/GTWalsheimProMedium.woff2') format('woff2'),
        url('/theme/assets/fonts/GTWalsheimProMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('/theme/assets/fonts/GTWalsheimPro-Light.woff2') format('woff2'),
        url('/theme/assets/fonts/GTWalsheimPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GTWalsheim';
    src: url('/theme/assets/fonts/GTWalsheimProBold.woff2') format('woff2'),
        url('/theme/assets/fonts/GTWalsheimProBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
