.footer{
    
    background: white;
    padding-top: 100px;
    @include media-breakpoint-down(xl){
        padding-top: 50px;
    }
    &-cta{
        overflow: hidden;
        h2{
            font-size: 5.857vw;            
            line-height: 5.857vw;     
            
            @include media-breakpoint-down(lg){
                font-size: 80px;            
                line-height: 80px;  
            }
        }

        .button-wrapper{
            @include transform(translateY(100%));
            opacity: 0;
        }
    }
    &-footer{
        position: relative;
        background-color: black;
        transition: all .4s ease-in-out;

        &.is-inview{
            
        }

        .line{
            position: absolute;
            width: 80%;
            opacity: 1;
            margin: 0 auto;
            top: 0;
            left: 10%;
            background: black;
            height: 1px;
            transform: scaleX(0);
            transform-origin: left;
            transition: var(--transition);
            &.animated{
                transform: scaleX(1);
            }
        }
        &-content{
            position: relative;
            
            p{
                opacity: 0;
                color: white;
                font-size: 17px;
                line-height: 23px;
                margin-bottom: 6px;
                @include media-breakpoint-down(lg){
                    font-size: 17px;            
                    line-height: 23px;  
                    opacity: .8;
                    transform: translate(0px, 0px);
                }
                text-decoration: none;
            }

            p a{
                font-size: 17px;
                line-height: 23px;
                @include media-breakpoint-down(lg){
                    font-size: 17px;            
                    line-height: 23px;  
                }
                text-decoration: none;
                color: inherit;
                opacity: 1;
                position: relative;
                display: inline-block;
                &::after{
                    content: '';
                    position: absolute;
                    top: unset;
                    bottom: -1px;
                    height: 1px;
                    width: 100%;
                    background-color: white;
                    left: 0;
                    @include transform(scaleX(0));
                    @include ease(.4s);
                }    
            }

            p {
                &:hover{
                    a{
                        &::after{
                           @include transform(scaleX(1));
                        }
                    }
                }
            }

            h6{
                margin-bottom: 22px;
                color: white;
                height: 40px;
            }

            @include media-breakpoint-down($breakpoint){
                @include media-breakpoint-up(sm){
                    .plate--row{
                        flex-flow: row wrap;
                        .plate--column{
                            
                                width: 100%;
                                flex-basis: 100%;
                                max-width: 100%;
                    
                        }
                    }
                }
            }
        }
    }

    .socials-item:hover .second, .socials-item .first{
        filter: brightness(0) invert(1);
    }
    
    &-copyright{
        background-color: black;
        padding-top: 60px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: -1px;
            height: 2px;
            width: 100%;
            left: 0;
            background-color: inherit;
        }
        @include media-breakpoint-down(md){
            margin-top: 0px;
            padding-top: 40px;
        }
        
        a{
            &:hover{
                opacity: .65;
            }
        }

        
        position: relative;
        padding-bottom: 45px;
        &-inner{
            &-left{
                *{
                    font-size: 14px;
                    line-height: 2.928vw;
                    @include media-breakpoint-down(lg){
                        font-size: 13px;            
                        line-height: 40px;  
                    }
                    color: white;
                    text-decoration: none;
                }

                &.fl-container{
                    @include media-breakpoint-down(md){
                        flex-flow: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                    
                        span{
                            display: none;
                        }

                        width: 100%;
                    }
                }
            }
            &-right{
                @include media-breakpoint-down(md){
                    width: 100%;
                    margin-top: 40px;
                    .socials{
                        justify-content: flex-start;
                        margin-top: 40px;
                    }
                }
            }
        }

        &-links{
           span{
               margin-left: 15px;
               margin-right: 15px;
           } 
        }
    }
}