
header .header-no-images .header-content h1{
    max-width: unset;
}

.navigation.mb-menu-open {
    .navbar-brand{
        .navbar-brand-logo{
            filter: grayscale(1) invert(1) brightness(4)!important;
            -webkit-filter: grayscale(1) invert(1) brightness(4)!important;
        }
    }

    .navbar-link a{
        color: white!important;
    }

    .navbar .bars{
        .bar{
            background-color: white!important;
        }
    }

    .navbar-link-dropdown:before{
        filter: invert(1)!important;
    }
}
.navigation{
    z-index: 1999;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar-link {
        a {
            &.has-dropdown {
                cursor: default;    
            }
        }
    }
    
    &[data-invert="true"]{
        .navbar-link {
            a{
                color: black;
            }

            &-dropdown{
                &::before{
                    filter: invert(0);
                }
            }
        }
        .navbar-light .navbar-link-head::after{
            background-color: black;
        }

        .navbar-brand-logo-icon{
            .navbar-brand-logo{
                filter: unset;
            }
        }
        .navbar{
            .bars{
                .bar{
                background-color: black;
                }
            }
        }
        @include media-breakpoint-down($breakpoint){
            .navbar-brand{
                .navbar-brand-logo{
                    filter: unset;
                    -webkit-filter: unset;  
                }
            }
        }
        &.nav-top, &.nav-header-iviw{
            .navbar-link {
                a{
                    color: white;
                }
    
                &-dropdown{
                    &::before{
                        filter: invert(1);
                    }
                }
            }
            .navbar-light .navbar-link-head::after{
                background-color: white;
            }
    
            .navbar-brand-logo-icon{
                .navbar-brand-logo{
                    filter: grayscale(1) invert(1) brightness(4);
                    -webkit-filter: grayscale(1) invert(1) brightness(4);
                }
            }
            
                
            

            &.no-images{
                .navbar-link {
                    a{
                        color: black;
                    }
        
                    &-dropdown{
                        &::before{
                            filter: invert(0);
                        }
                    }
                }
                .navbar-light .navbar-link-head::after{
                    background-color: black;
                }
        
                .navbar-brand-logo-icon{
                    .navbar-brand-logo{
                        filter: unset;
                    }
                }
            }
        }


    }

   

    .navbar-subs-menu{
        display: none;

        .dropdown-menu-dropdown-icon{
            &-back{
                width: 40px;
                height: 40px;
                margin-bottom: 8px;
                background: transparent;
                position: relative;
                cursor: pointer;
                @include transform(translateY(-10px) translateX(-10px));

                &:before  {
                    position: absolute;
                    display: block;
                    content: ' ';
                    background-image: url('/theme/assets/images/pijl.svg');
                    background-size: contain;
                    height: 12px;
                    width: 12px;
                    left: 10px;
                    background-position: center center;
                    background-repeat: no-repeat;
                    top: 10px;
                    @include transform(translateY(0) rotate(180deg));
                    @include ease(.2s);
                    filter: invert(1);
                    z-index: 1;    
                }
            }    
        }
        @include media-breakpoint-down($breakpoint){
            .navbar-link{
                &::before{
                    display: none;
                }
                .dropdown-menu-dropdown-icon{
                    display: none;
                }
            }
        }
    }
    &.mb-menu{
        &-open{
            .navbar{
                &-wrapper{
                    left: 0;
                    .navbar-main-menu{
                        transition: var(--transition);
                    }
                }
            }
            
            .navbar-subs-menu{
                left: 100%;
                position: absolute;
                top: 130px;
                display: block;
                width: 100%;
                padding: 0 10%;
                transition: var(--transition);
            }
        }

        &-pushed{
            .navbar{
                &-wrapper{
                    .navbar{
                        &-main-menu{
                            @include transform(translateX(-100%));
                        }
                    }
                    .navbar-subs-menu{
                        @include transform(translateX(-100%));
                    }
                }
            } 
        }
    }

    .navbar{
        padding: 30px 46px;
        
        .bars{
            width: 24px;
            height: 24px;
            display: none;

            .bar{
                height: 1px;
                width: 100%;
                background-color: white;
                margin: 3px 0;
                @include ease(.2s);

                &-1{
                    margin-top: 0;
                }
                &-3{
                    margin-bottom: 0;
                }
            }

            &-active{
                .bar{
                    &-1{
                        @include transform(translateY(7px) rotate(45deg));
                    }
                    &-3{
                        @include transform(translateY(-7px) rotate(-45deg));    
                    }
                    &-2{
                        @include transform(scaleX(0));   
                        opacity: 0;
                    }
                }
            }
            @include media-breakpoint-down($breakpoint){
                display: flex;
                position: absolute;
                top: 30px;
                right: 10%;
            }
        }
        &-brand{
            
            width: 170px;
            overflow: hidden;
            position: relative;
            @include transform(translateY(-17px));
            @include media-breakpoint-down($breakpoint){
                position: fixed;
                left: 10%;
                top: 30px;
                width: 120px;
                @include transform(translateY(0px));
            }
            &-logo {
                @include ease(.3s);
                width: 170px;
                opacity: 1;
                @include media-breakpoint-down($breakpoint){
                    width: 120px;
                }

                &-icon {
                    position: absolute;
                    top: 0px;
                    left: 0;
                    z-index: 1111;
                    width: 39px;
                    height: 30px;
                    opacity: 1;
                    overflow: hidden;
                    @include ease(.3s);
                    @include media-breakpoint-down($breakpoint){
                        display: none;
                    }
                   
                    .navbar-brand-logo{
                        padding-bottom: 40.8px!important;
                        width: 170px;
                        position: absolute;
                        opacity: 1;
                        @include media-breakpoint-down($breakpoint){
                            width: 120px;
                            padding-bottom: 28.8px!important;
                        }
                    }
                }
            }
        }

        &-top{
            margin-bottom: -6px;
        }

        &-link{
            position: relative;
            margin-left: 15px;
            margin-right: 15px;
            &:nth-last-child(1){
                margin-right: 0;
            }

            &-dropdown{
                padding-right: 20px;
                &:before  {
                    position: absolute;
                    display: block;
                    content: ' ';
                    background-image: url('/theme/assets/images/pijl.svg');
                    background-size: contain;
                    height: 12px;
                    width: 12px;
                    right: 0;
                    background-position: center center;
                    background-repeat: no-repeat;
                    top: 50%;
                    @include transform(translateY(-50%) rotate(90deg));
                    @include ease(.2s);
                    filter: invert(1);
                    z-index: 1;    
                }
            }
            &-head{
                &::after{
                    content: '';
                    position: absolute;
                    top: 25px;
                    height: 1px;
                    width: 100%;
                    background-color: black;
                    left: 0;
                    @include transform(scaleX(0));
                    @include ease(.4s);
                    @include media-breakpoint-down(lg){
                        top: 28px; 
                    }
                }
                &:hover{
                    &::after{
                        @include transform(scaleX(1));
                    }
                }
            }

            a{
                position: relative;
                text-decoration: none;
                color: white;
                font-size: 18px;
                line-height: 26px;
                @include ease(.2s);
            }

            &:hover{
                .dropdown-menu{
                    visibility: visible;
                    opacity: 1;
                    @include transform(translateY(0px));
                }
            }
            .dropdown-menu{
                position: absolute;
                background-color: black;
                padding: 20px;
                top: 48px;
                left: 0;
                width: max-content;
                max-width: unset;
                visibility: hidden;
                @include transform(translateY(20px));
                opacity: 0;
                @include ease(.4s);
                min-width: 100%;

                @include media-breakpoint-down($breakpoint){
                    display: none;
                    top: 37px;
                }

                .navbar-link-dropdown-sub {
                    &:before{
                        @include transform(translateY(-50%) rotate(0deg));
                        filter: invert(1)!important;
                    }
                    .dropdown-menu{
                        top: -20px;
                        visibility: hidden;
                        opacity: 0;
                        right: unset;
                        left: 0;
                        @include transform(translateY(20px) translateX(calc(100% + 21px)));
                    }
                    &:hover{
                        .dropdown-menu{
                            visibility: visible;
                            opacity: 1;
                            @include transform(translateY(0px) translateX(calc(100% + 21px)));
                        }
                    }
                }
                .navbar-link{
                    width: 100%;
                    margin-left: 0;
                    margin-right: 0;
                    margin-bottom: 10px;
                    &.navbar-link-last{
                        margin-bottom: 0;
                    }

                    a{
                        color: white!important;
                        @include ease(.4s);

                        &::after{
                            content: '';
                            position: absolute;
                            top: 23px;
                            height: 1px;
                            width: 100%;
                            background-color: white;
                            left: 0;
                            @include transform(scaleX(0));
                            @include ease(.4s);
                            @include media-breakpoint-down(lg){
                                top: 21px;
                            }
                        }
                        &:hover{
                            &::after{
                                @include transform(scaleX(1));
                            }
                        }
                    }
                }
            }
            &-last{
                .dropdown-menu{
                    left: unset;
                    right: 0;
                }
            }

            &-top{
                margin-left: 10px;
                margin-right: 10px;
                a{
                    font-size: 14px;
                    line-height: 21px;
                    opacity: .5;
                }
            }
        }

        &-wrapper{
            @include ease(.3s);
            @include media-breakpoint-down($breakpoint){
                height: 100vh;
                position: absolute;
                width: 100%;
                left: 100%;
                top: 0;
                background: black;   
                transition: var(--transition);
                padding: 30px 10%;
                display: flex;
                flex-direction: column;
                overflow-y: scroll;
                transition: var(--transition);

                .navbar{
                    &-top{
                        order: 2;
                        margin-top: auto;
                        padding-bottom: 100px;
                        margin-bottom: 0px;

                        .navbar{
                            &-link{
                                margin-left: 0;
                            }
                        }
                    }

                    &-main{
                        order: 1;
                        &-menu{
                            margin-top: 100px;
                            @include ease(.3s);
                        }

                        .navbar{
                            &-link{
                                a{
                                    color: white;
                                    font-size: 30px;
                                    line-height: 32px;
                                    font-weight: 500;
                                }
                                margin-bottom: 20px;
                                margin-left: 0;

                                &-head{
                                    &::after{
                                        top: 38px;
                                    }
                                }

                                &-dropdown{
                                    .dropdown-menu-dropdown-icon{
                                        position: absolute;
                                        background: transparent;
                                        height: 40px;
                                        width: 40px;
                                        right: -15px;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        z-index: 1;
                                        cursor: pointer;
                                    }


                                    &::before{
                                        @include transform(translateY(-50%) rotate(0deg));
                                    }
                                }
                            }
                        }
                    }
                }

                .fl-row{
                    flex-flow: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    width: 100%;
                }
            }
        }

        &-dark{
            .navbar{
                &-link{
                    a{
                        color: black;
                    }

                    &-dropdown{
                        &:before  {
                            filter: none;
                        }
                    }
                }
            }
        }

        &-light{
            .navbar{
                &-brand{
                    &-logo{
                        filter: grayscale(1) invert(1) brightness(4);
                        -webkit-filter: grayscale(1) invert(1) brightness(4);
                    }
                }
            }

          
            .navbar-link-head::after{
                background-color: white;
            }
            
        }
    }

    &.nav-fixed{
        @include media-breakpoint-up(lg){
            .navbar-brand{ 
                .navbar-brand-logo{
                    opacity: 0;
                    
                    &-icon{
                        opacity: 1;
                        
                        .navbar-brand-logo{
                            opacity: 1; 
                           
                        }
                    }
                }
            }

            .navbar-main-menu{
                @include transform(translateY(-35px));
            }
            .navbar-top{
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
    }
}

.navbar-main-menu, .navbar-top{
    @include ease(.3s);
}

body:not(.no-header) .--first .images-text-content-text h3 [data-scroll], body:not(.no-header) .--first .images-text-content-text h2 [data-scroll]{
    @include media-breakpoint-down(md){
        padding-top: 0!important;
        margin-top: 0!important;
    }
}
header{
    .header{
        position: relative;
        height: 100vh;
        padding: 110px 0 4.246vw 0;

        @include media-breakpoint-down(md){
            padding-bottom: 110px;
        }
        &-small{
            height: unset;
            padding: 250px 0 80px 0;
            min-height: 375px;

        }
        &-no-images{
            height: auto;
            padding-top: 150px;
            padding-bottom: 45px;

            @include media-breakpoint-down(lg){
                padding-top: 100px;
            }
            &::before{
                display: none;
            }

            h1{
                font-size: 2.928vw;
                font-weight: 500;
                line-height: 2.928vw;
                @include media-breakpoint-down(lg){
                    font-size: 40px!important;
                    line-height: 40px!important;
                }
            }

            .header-content{
                .breadcrumbs{
                    
                    a{
                        color: black;
                    }

                    svg{
                        path{

                            fill: black;
                        }
                    }
                }
    
                h1{
                    color: black;
                }
    
                .paragraph {
                    *{
                        color: black;
                    }
                }
    
            }
        }
        &-dark{
            background-color: black;
            .header-content{
                .breadcrumbs{
                    a{
                        color: white;
                    }

                    svg{
                        path{

                            fill: white;
                        }
                    }
                }
    
                h1{
                    color: white;
                    font-size: 60px;
                    line-height: 66px;
                }
    
                .paragraph {
                    *{
                        color: white;
                    }
                }
            }
        }
        &-images{
            top: 0;
            height: 100%;
            width: 100%;
            left: 0;
            position: absolute;
            picture{
                opacity: .8;
                @include transform(scale(1.2));
            }
            &-current{
                height: 100%;
            }

            &::before{
                content: '';
                top: 0;
                height: 50%;
                width: 100%;
                left: 0;
                z-index: 1;
                position: absolute;
                background: linear-gradient(rgba(0, 0, 0, 0.288), transparent);;
            }
        }

        &::before{
            content: '';
            top: -10%;
            left: 0;
            width: 100%;
            height: calc(110% + 1px);
            position: absolute;
            background: rgb(0,0,0);
            background: linear-gradient(90deg, rgba(0,0,0,0.5970763305322129) 0%, rgba(0,0,0,0) 100%);
            z-index: 1;
        }

        &-content{
            position: relative;
            z-index: 1;
        
            .breadcrumbs{
                margin-bottom: 15px;
                opacity: 0;
                @include transform(translateY(-100px));

                .breadcrumbs-mobile{
                    display: none;
                }
                @include media-breakpoint-down($breakpoint){
                    .breadcrumbs-desktop{
                        display: none;
                    }

                    .breadcrumbs-mobile{
                        display: block;
                    }
                }
                
                a{
                    font-size: 14px;
                    opacity: .5;
                    color: white;
                    text-decoration: none;
                    line-height: 40pxs;
                    @include media-breakpoint-down(lg){
                        font-size: 13px;
                        line-height: 34px;
                    }
                   

                    svg{
                        fill: white;
                    }
                }

                svg{
                    margin-left: 0.366vw;
                    margin-right: 0.366vw;
                    height: 0.512vw;
                    width: 0.299vw;
                    @include media-breakpoint-down(lg){
                        margin-left: 5px;
                        margin-right: 5px;
                        height: 7px;
                        width: 4.5px;
                    }
                }
            }

            h1{
                color: white;
                max-width: 60%;
                @include media-breakpoint-down(md){
                    max-width: unset;
                }
            }

            .paragraph {
                max-width: 55%;
                @include media-breakpoint-down(md){
                    max-width: unset;
                }
                opacity: 0;
     
                *{
                    color: white;
                }
            }

            .buttons{
                margin-top: 30px;
                opacity: 0;
            }
        }

        &-cta{
            position: absolute;
            right: 0;
            bottom: 0;
            width: calc(100% / 3);
            z-index: 3;
            @include media-breakpoint-down(md){
                width: auto;
            }
            a{
                text-decoration: none;
                color: white;
                font-size: 18px;
                line-height: 26px;
                @include media-breakpoint-down(lg){
                    font-size: 18px;
                    line-height: 26px;
                    padding: 20px 30px;
                }
                background-color: var(--gray);
                min-height: 57px;
                width: 100%;
                padding: 16px 30px;
                @include ease(.3s);

                svg{
                    margin-right: 10px;
                }
            }

            &:hover{
                a{
                    background-color: black;
                }
            }
        }
    }
}


.article-share{
    margin-top: 100px;
}



body:not(.no-header){
    .--first {
        .images-text{
            /* transform: translateY(-19.531vw); */
            /* margin-bottom: -19.531vw; */
            @include media-breakpoint-down(lg){
                padding-top: 50px;
            }
    
            &-content-text{
                .second{
                    /* margin-top: 7.813vw; */
                }
            
                h3 [data-scroll], h2 [data-scroll]{
                    /* padding-top: 5.208vw; */
                }
    
                &-scroll-target{
                    height: 18.490vw;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }
    
        .images-text-side .parralax-images:nth-child(1){
            /* margin-top: 17.969vw; */
        }
    }
    .images-text-content-title{
        .animated-title{
            position: relative;
            .--first{
                position: absolute;
                top: 0;
                transform: translateY(-270px);
            }
        }
    }
}




.header-overlap{
    header{
        position: relative;
        .header-images{
            height: calc(100% + 12vw);
        }

        // .header-content{
        //     opacity: 0;
        //     visibility: hidden;
        // }
    
        .header{
            &::before{
                content: '';
                background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
                height: calc(110% + 12vw + 2px);
            }
        }
    
        &::after{
            content: '';
            bottom: 0;
            height: 20vw;
            width: 100%;
            left: 0;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0,0,0,1) 100%);
            position: absolute;
            transform: translateY(13vw);
            display: none;
        }
    
        .header-content-overlay{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: calc(100% + 12vw);
            background: black;
            opacity: 0;
        }
    }
}


.header-intro{
    display: none;
    width: calc(100% / 3);
    position: absolute;
    bottom: 160px;
    padding-right: 10%;
    right: 0;
    z-index: 3;

    @include media-breakpoint-down(md){
        width: 100%;
        padding-left: 10%;
    }
    *{
        color: white;
    
        &:empty{
            display: none;
        }
    }
}

.header-overlap{
    .header-intro{
        display: block;
    }
}