.contact{
    &--page{
        .main-content, .header {
            .plate--container{
                @include media-breakpoint-up(lg){
                    padding-right: 100px;
                    padding-left: 20%;
                }
            }
        }

        .sticky--wrapper{
            position: relative;
            &.sticky-mobile-false{
                display: none;
            }
            &.sticky-mobile-true{
                margin-bottom: 40px;
            }
        
            @include media-breakpoint-up(lg){
                &.sticky-mobile-false{
                    display: block;
                }
                position: absolute;
                top: unset;
                z-index: 1;
                right: 20%;
                bottom: 55px;
                width: 65%;
                height: unset;
                &.sticky-mobile-true{
                    display: none;
                }
            }
            

            &-inner{
                position: relative;
                height: 100%;
            }
        }
    }
}
