.vacature__filter__boxen {
    width: auto;
    margin-bottom: 0;
}

.post_filter {
    position: relative;
    width: 100%;
    margin-bottom: 80px;
}

.category-selection-field .blog_checkbox{
    display: none;
}

.category-selection-field input[type="checkbox"] + span.category-title {
    background-color: white;
    color: black;
    position: relative;
    display: block;
    padding: 20px 25px;
    cursor: pointer;
}