/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v55/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 0 0 0 0;
    box-sizing: border-box;
}

:root{
    --gray: #8A8D8F;
    --transition: .65s cubic-bezier(1,0,0.4,1);
    --widthtitle: 5.490vw;
    @include media-breakpoint-down(lg){
        --widthtitle: 75px;
    }
}

.config-mode{
    .is-inview{
        @include transform(none!important);
    }

    [data-scroll]{
        @include transform(none!important);
    }

    .images-text-side .parralax-images:before{
        display: none;
    }

    .images-text-side .parralax-images .revealer, .images-text-side .parralax-images .revealer picture, .footer-cta .button-wrapper, .footer-footer-content p {
        @include transform(none!important);
        opacity: 1;
    }

    .animated-title__first-part, .animated-title__second-part, .animated-title{
        @include transform(none!important);
    }


} 


.bg-init,
.animsition-overlay-slide {
    background-color: white!important;
    overflow: hidden;
}

.animsition-overlay-slide.animsition-overlay-slide-dark {
    background-color: black!important;
}


.animsition-overlay-slide,
.animsition-loading,
.animsition-loading:after {
    z-index: 99999;
}

.overlay-slide-in-top{
    top: -4px;
}

.animsition-loading,
.animsitions-loading {
    background-color: transparent;
    border: none;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}
.animsitions-loading {
     margin-left: 0;
     margin-top: 0;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     position: absolute;

     -webkit-transition: opacity .3s ease;
     -moz-transition: opacity .3s ease;
     -ms-transition: opacity .3s ease;
     -o-transition: opacity .3s ease;
     transition: opacity .3s ease;
 }

.change-bg-color{
    transition: .25s cubic-bezier(1,0,0.4,1);
}
/* FONT & TEXT STYLING */

h1, h2, h3, h4, h5, h6 {
    font-family: 'GTWalsheim', serif;
    margin-top: 0;
    margin-bottom: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
}

h1, h1 span {
    font-size: 5.124vw;
    font-weight: 500;
    line-height: 5.124vw;
    margin-top: 0;

    letter-spacing: -1px;

    @include media-breakpoint-down(lg){
        font-size: 45px;
        line-height: 50px;
    }

    &.big-title-element{
        font-size: 5.857vw;
        line-height: 5.857vw;
        @include media-breakpoint-down(lg){
            font-size: 45px;
            line-height: 50px;
        }
    }
}


h2, h2 span, h1.small, h1.small span {
    font-size: 3.807vw;
    font-weight: 500;
    line-height: 1;
    margin-top: 0;

    letter-spacing: -1px;
    @include media-breakpoint-down(lg){
        font-size: 45px;
        line-height: 50px;
    }

    &.big-title-element{
        font-size: 70px;
        line-height: 1;
        @include media-breakpoint-down(lg){
           font-size: 45px;
            line-height: 50px;
        }
    }
}

h2.big-title{
    word-break: unset;
    line-height: 16.471vw;
    margin-bottom: 0px;
    font-size: 16.471vw;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 11.321vw;

    letter-spacing: -1px;

    @include media-breakpoint-down(md){
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 35px;
    }
}

h3, h3 span {
    font-size: 3.807vw;
    font-weight: 500;
    line-height: 3.660vw;
    margin-top: 0;

    

    letter-spacing: -1px;

    @include media-breakpoint-down(lg){
        font-size: 35px;
        line-height: 40px;
    }
}

h4, h4 span {
    font-size: 2.196vw;
    font-weight: 500;
    line-height: 2.196vw;
    margin-top: 0;
    @include media-breakpoint-down(lg){
        font-size: 30px;
        line-height: 30px;
    }
}

h5, h5 span {
    font-size: 23px;
    font-weight: normal;
    line-height: 2.416vw;
    margin-top: 0;

    @include media-breakpoint-down(lg){
        font-size: 23px;
        line-height: 33px;
    }
}

h6, h6 span {
    font-size: 17px;
    font-weight: 500;
    line-height: 2.196vw;
    margin-top: 0;
    @include media-breakpoint-down(lg){
        font-size: 17px;
        line-height: 30px;
    }
}

p:empty, h1:empty, h2:empty, h3:empty, h4:empty, h5:empty, h6:empty{
    display: none;
}
p, a, u, span, select, section, td, th, option, form, input, b, strong, ul, ol, li, textarea, label, button, input, iframe, table, div {
    font-family: 'GTWalsheim', sans-serif;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    @include media-breakpoint-down(lg){
        font-size: 17px;
        line-height: 30px;
    }
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-display: optional;
}

b, strong{
    font-weight: 600;
}

/*SMOOTH SCROLL STYLING*/
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body.lock-scroll {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#js-scroll {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

html.has-scroll-smooth {
    overflow: hidden;
}

html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.has-scroll-smooth body {
    overflow: hidden;
}
.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    z-index: 99;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1;
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--gray);
    opacity: 1;
    width: 7px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* GENERAL STYLING */

:focus {
    outline: none;
}

.lockScroll {
    width: 100%;
    overflow: hidden;
    position: fixed;
}

.render-content {
    position: relative;
}

.full-link-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 3;
    top: 0;
    left: 0;
}

.bg-cover {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.bg-contain {
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.main-content-wrapper {
    width: 100%;
    position: relative;
    @include ease(.6s)
}

.subscription .main-content-wrapper{
    padding-top: 85px;
}

hr {
    border: 0;
    border-bottom: 1px dashed black;
    border-style: dashed;
}

.bg-lazy,
.lazy {
    opacity: 0;
}

img:not(.lazy) {
    opacity: 1;
    transition: opacity .5s cubic-bezier(.79,0,.58,.95);
}

.color_inherit{
    *{
        color: inherit;
    }
}
/* SECTION STYLING */

.section-container {
    position: relative;
    width: 100%;
    &.fullwidth{
        .plate--container{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.section-content {
    position: relative;
    z-index: 2;
}

.plate--container {
    width: 100%;
    max-width: unset;
    padding-left: 8.93%;
    padding-right: 8.93%;
}

.plate--row {
    margin-left: -30px;
    margin-right: -30px;
}

.plate--column {
    padding-left: 30px;
    padding-right: 30px;
    @include media-breakpoint-down(md){
        min-height: unset;
    }
}

.plate--element__image {
    position: relative;
    height: auto;
    picture {
        position: absolute;
        top: 0;
    }
}

/* DISPLAY FLEX STYLING */

.config-mode {
    .main-content-wrapper{
        background: transparent!important;
    }
    .big-title-element .word span{
        @include transform(translateY(0));
    }
}


.fl-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.fl-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.fl-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fl-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jc-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.jc-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.jc-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.jc-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ai-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ai-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

picture {
    display: block;
    line-height: 0;
}

.width-cover {
    height: 100%;
}

.width-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-in {
    h1{
        .word{
            overflow: hidden;
            span{
                @include transform(translateY(160%));
            }
        }

        span{
            font-family: inherit;
            line-height:  inherit;
            font-size: inherit;
            font-weight: inherit;
            color: inherit;
            vertical-align: text-top;
            display: inline-block;
        }
    }   
} 

.big-title-element{
    .word{
        overflow: hidden;
        span{
            @include transform(translateY(160%));
        }
    }

    span{
        font-family: inherit;
        line-height:  inherit;
        font-size: inherit;
        font-weight: inherit;
        color: inherit;
        vertical-align: text-top;
        display: inline-block;
    }
}

/* 404 MESSAGE  */
.error-message {
    position: relative;
    width: 100%;
    height: 500px;
    z-index: 3;
    a {
        color: inherit;
    }
}

.zakelijk-title{
    color: white;
}
.contact--page {
    .navigation .navbar-brand-logo-icon{
        opacity: 0;
    }

    .backtoparent{
        margin-top: auto;
        a{
            color: black;
        }
    }
    .navigation .navbar{
        padding-top: 43px;
        width: 50%;
        padding-right: 100px;
        .navbar-brand{
            @include transform(translateY(0px));
        }
    }
    .main-content-wrapper{
        display: flex;

        .image-side, .main-content{
            width: 50%;
        }

        .image-side{
            position: fixed;
            height: 100vh;
            right: 0;
            top: 0;

            picture{
                padding-bottom: unset!important;
                height: 100vh;
            }
        }

        .main-content{
            padding-top: 220px;
            padding-bottom: 130px;
        }
    }
}

.contact-form{
    form {
        .form-group{
            position: relative;
            margin-bottom: 40px;
    
            &__description {
                margin-bottom: 20px;
            }
    
            &:nth-last-child(1){
                margin-bottom: 0;
            }
        }
    }
}