.socials{
    &-item{
        position: relative;
        overflow: hidden;
        width: 20px;
        height: 20px;
        margin-right: 20px;
        &:nth-last-child(1){
            margin-right: 0;
        }

        
        picture{
            @include ease(.3s);
        }
        .first{
            
        }

        .second {
            position: absolute;
            opacity: 1;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            transform: translateY(150%);
        }

        &:hover{
            .second {
                transform: translateY(0);
                filter: brightness(0);
            }

            .first{
                transform: translateY(-150%);
            }
        }
    }
}

.pinterest-item{
    position: relative;
    .pinterest-link{
        opacity: 0;
    }

    &:hover{
        .pinterest-link{
            opacity: 1;
        }
    }
}